<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Account</title>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
    ></script>
    <script th:src="@{/js/cssandjs/block_paste.js}"></script>
    <script type="text/javascript" th:src="@{/js/cssandjs/index.js}"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--navigation bar -->
    <header th:insert="fragments.html :: navbar"></header>
    <!--navigation bar -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form th:action="@{/AddAccount}" method="post" th:object="${account}">
            <div class="form-group">
              <label for="name"> Name</label>
              <input
                name="name"
                class="form-control"
                th:field="*{name}"
                id="name"
                minlength="2"
                maxlength="30"
                pattern="^[a-zA-Z-.]+$"
                title="Letters, hyphens and dots."
                required
              />
              <span
                class="text-danger"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
                >Name error</span
              >
            </div>
            <div class="form-group">
              <label for="password"> password</label>
              <input
                name="password"
                class="form-control"
                th:field="*{password}"
                id="password"
                type="password"
                minlength="2"
                maxlength="100"
                pattern="^[a-zA-Z0-9+=#?!@$%^&*_.-]+$"
                title="Letters, Numbers, dots, +=#?!@$%^&*_"
                onselectstart="return false"
                onpaste="return false;"
                onCut="return false"
                onCopy="return false"
                onDrag="return false"
                onDrop="return false"
                autocomplete="off"
                required
              />
              <input
                id="show-password-chckbox"
                type="checkbox"
                onclick="toggleShowPswd()"
              />
              <b>Show Password</b>
              <span
                class="text-danger"
                th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}"
                >Password error</span
              >
            </div>
            <div class="form-group">
              <a
                type=""
                class="btn btn-secondary text-white"
                onclick="generatePassword()"
              >
                Generate Password
              </a>
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
