<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!--navigation bar -->
    <div th:fragment="navbar">
      <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #100c08;">
        <a class="navbar-brand" href="#">Password Manager</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/}"
              >Home</a
            >
            <a
              class="nav-item nav-link "
              href="/"
              sc:authorize="isAuthenticated()"
              th:href="@{/logout}"
              >Logout</a
            >
            <a class="nav-item nav-link " th:href="about.html">About</a>
          </div>
        </div>
      </nav>
      <!--navigation bar -->
    </div>
    <!-- footer -->
    
  
      <footer th:fragment="footer" class="py-5 container-fluid text-white" style="background-color: #100c08 ;">
        <div class="row">
         <div class="col-md-4 offset-md-5">Password Manager</div>
        </div>  
        <div class="row">
          <div class="col-md-6 offset-md-4 icon-list">
            <ul>
              <li> <a href="http://github.com"><i class="bi bi-github"></i></a> </li>
              <li><a href="http://instagram.com"><i class="bi bi-instagram"></i></a> </li>
              <li> <a href="http://twitter.com"><i class="bi bi-twitter"></i></a> </li> 
              <li> <a th:href="@{/Contact}"><i class="bi bi-envelope-fill"></i></a> </li>    
            </ul>
          </div>
         </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <ul>
              <li ><a th:href="@{/}">Home</a>  </li>
              <li ><a th:href="@{/Contact}">  Contact</a></li>
              <li ><a th:href="@{/About}">  About</a></li>    
            </ul>
          </div>
         </div> 
         
        <div class="row">
        <div class="col-md-8 offset-md-3">
          <p class="text-muted">Some nice text over here that sounds like a great sentence. Blah Blah Blah Blah</p>
        </div>
        </div>
      </footer>
   
      
      <!-- footer -->
      

      
     
      </div>
    </div>
  </body>
</html>
